<a href="https://colab.research.google.com/github/mohitgaggar/Machine_Intelligence/blob/master/MI_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv(r'/content/drive/My Drive/LBW_Dataset.csv')

In [ ]:
data.head()

   Community   Age  Weight  Delivery phase  ...     BP  Education  Residence  Result
0          1  21.0    42.0             1.0  ...  1.375        5.0        1.0       0
1          1  21.0     NaN             1.0  ...  1.500        5.0        1.0       0
2          1  21.0     NaN             1.0  ...  2.125        5.0        1.0       0
3          1  21.0     NaN             1.0  ...  1.375        5.0        1.0       0
4          1  24.0    33.0             1.0  ...  1.571        5.0        1.0       0

[5 rows x 10 columns]

In [ ]:
data.describe()

       Community        Age     Weight  ...  Education  Residence     Result
count  96.000000  89.000000  85.000000  ...       93.0  94.000000  96.000000
mean    2.177083  23.752809  45.129412  ...        5.0   1.138298   0.750000
std     1.213909   3.321011   8.215532  ...        0.0   0.347063   0.435286
min     1.000000  17.000000  30.000000  ...        5.0   1.000000   0.000000
25%     1.000000  21.000000  40.000000  ...        5.0   1.000000   0.750000
50%     2.500000  24.000000  43.000000  ...        5.0   1.000000   1.000000
75%     3.000000  26.000000  50.000000  ...        5.0   1.000000   1.000000
max     4.000000  38.000000  65.000000  ...        5.0   2.000000   1.000000

[8 rows x 10 columns]

In [ ]:
data.isnull().sum()

Community          0
Age                7
Weight            11
Delivery phase     4
HB                19
IFA                0
BP                15
Education          3
Residence          2
Result             0
dtype: int64

In [ ]:
# data['Result'][0]=np.nan

In [ ]:
len(data)

96

In [ ]:


# ### Replacing NaN values

# Age,Weight,HB,BP with mean
replace_mean = ['Age','Weight','HB','BP']
for col in replace_mean:
    data[col].fillna(data[col].mean(),inplace = True)

In [ ]:

# Delivery Phase,IFA,Residence with forward fill 
forward_fill = ['Delivery phase','IFA' ,'Residence']
for col in forward_fill:
    data[col].ffill(axis = 0,inplace=True)

In [ ]:

# Community,Education with mode
replace_mode = ['Community','Education','Result']
mode=[data.mode()[col][0] for col in replace_mode]
for i in range(len(replace_mode)):
    data[replace_mode[i]].fillna(mode[i],inplace = True)

In [ ]:
data.isnull().sum()

Community         0
Age               0
Weight            0
Delivery phase    0
HB                0
IFA               0
BP                0
Education         0
Residence         0
Result            0
dtype: int64

In [ ]:
data.head()

   Community   Age     Weight  ...  Education  Residence  Result
0          1  21.0  42.000000  ...        5.0        1.0       0
1          1  21.0  45.129412  ...        5.0        1.0       0
2          1  21.0  45.129412  ...        5.0        1.0       0
3          1  21.0  45.129412  ...        5.0        1.0       0
4          1  24.0  33.000000  ...        5.0        1.0       0

[5 rows x 10 columns]

In [ ]:

# ### Normalising the data 
normal_col = ["Age", "Weight", "HB", "BP"]
for column in normal_col:
    max_val = max(data[column])
    min_val = min(data[column])

    data[column] = (data[column]-min_val)/(max_val-min_val)

In [ ]:
data.head()

   Community       Age    Weight  ...  Education  Residence  Result
0          1  0.190476  0.342857  ...        5.0        1.0       0
1          1  0.190476  0.432269  ...        5.0        1.0       0
2          1  0.190476  0.432269  ...        5.0        1.0       0
3          1  0.190476  0.432269  ...        5.0        1.0       0
4          1  0.333333  0.085714  ...        5.0        1.0       0

[5 rows x 10 columns]

In [ ]:
# Number of unique values under each attribute
print("Total number of values ",len(data))

for i in data.columns:
    print(i,len(set(data[i])))
    # print(set(data[i]))

Total number of values  96
Community 4
Age 15
Weight 29
Delivery phase 2
HB 23
IFA 2
BP 21
Education 1
Residence 2
Result 2

In [ ]:
#Initialise weight matrix

#Use random function

In [ ]:
#Initialize bias matrix
HIDDEN_LAYER_SIZE=9
OUTPUT_LAYER_SIZE=1
def init_bias():
    Bh = np.full((1, HIDDEN_LAYER_SIZE), 0.1)
    Bo = np.full((1, OUTPUT_LAYER_SIZE), 0.1)
    print(Bh,Bo)
init_bias()

[[0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1]] [[0.1]]

In [ ]:
#Activation Functions
#The sigmoid function that outputs values between 0 and 1
#Relu works here as all inputs are positive
#Softmax can be used on the last hidden layer

"""
#Activation function applied on matrices

def relu(x):
  return return np.maximum(0,X)

def sigmoid(x):
  return return 1/(1+np.exp(-X))

#The Softmax function takes a vector of numbers and returns a normalized probability distribution of the exponentials of the numbers.
def softmax(x):
    expo = np.exp(X)
    expo_sum = np.sum(np.exp(X))
    return expo/expo_sum
"""

'\n#Activation function applied on matrices\n\ndef relu(x):\n  return return np.maximum(0,X)\n\ndef sigmoid(x):\n  return return 1/(1+np.exp(-X))\n\n#The Softmax function takes a vector of numbers and returns a normalized probability distribution of the exponentials of the numbers.\ndef softmax(x):\n    expo = np.exp(X)\n    expo_sum = np.sum(np.exp(X))\n    return expo/expo_sum\n'

In [ ]:
#Derivative of activation functions
'''
def d_sigmoid(y):
    return y * (1.0 - y)
def relu_prime(z):
  return 1 if z > 0 else 0
'''

'\ndef d_sigmoid(y):\n    return y * (1.0 - y)\ndef relu_prime(z):\n  return 1 if z > 0 else 0\n'

In [ ]:
#Feed forward through the hidden layers

"""

# Implement Forward Propagation to calculate A2 
    Z1 = np.dot(W1,X) + b1
    A1 = relu(Z1) #Whichever activation function
    .
    .
    Zn = np.dot(Wn,An-1) + bn
    An = softmax(Zn) # Final output prediction

def feed_forward(X):
   

"""

'\n\n# Implement Forward Propagation to calculate A2 \n    Z1 = np.dot(W1,X) + b1\n    A1 = relu(Z1) #Whichever activation function\n    .\n    .\n    Zn = np.dot(Wn,An-1) + bn\n    An = softmax(Zn) # Final output prediction\n\ndef feed_forward(X):\n   \n\n'

In [ ]:
#Gradient Descent

In [139]:
#MSE works as a cost function

# def MSE(array1,array2):
  
#   difference_array = np.subtract(array1, array2)
#   squared_array = np.square(difference_array)
#   mse = squared_array.mean()

#   return mse
def loss_function(a,b):
    return error(a,b)

def error(a,b):
    return 1/2*(a-b)**2

In [143]:
number_of_hidden_layers=3
number_of_input_features=9
weight=np.random.rand(number_of_hidden_layers + 1,number_of_input_features,number_of_input_features)
bias=np.ones((number_of_hidden_layers + 1 , number_of_input_features))
activation_function=['sigmoid'] * (number_of_hidden_layers+1)
# print(weight)

# print(bias)

# weight matrix dimensions (Number_of_hidden_layers+1) * 9 * 9
# bias matrix dimansions (Number_of_hidden_layers+1) * 1
# expected output is the given output for the row


def train(inp,weight,bias):
    # print(weight[-1][0])
    y,oy=forward_prop(inp , activation_function , weight , bias )    
    # forward_prop is a function that takes in the input to the layer, activation function , entire weight, bias 
    # corresponding weight and bias for the layer can be calculated by using the layer_index 
    # forward_prop should call itself recursively and calculate final output and return the final output along with all intermediate outputs(oy) and intermediate summer outputs(y) 
    # dimensions of oy and y are (number_of_hidden_layers+1) X (number_of_input_features)
    # print(weight[-1][0])

    # y=np.random.rand((number_of_hidden_layers+1),number_of_input_features)
    # oy=np.random.rand((number_of_hidden_layers+1),number_of_input_features)

    actual_output=5
    error=loss_function(oy[-1][0],actual_output)
    print(error,"is error")
    # loss_function takes in 2 floats calculated_output which is the result of forward_prop and the expected_output which is the given output and 
    # computer error and returns it
    
    # print(bias)
    # actual_output=0.5
    learning_rate=1
    weight,bias=back_prop(weight , bias , actual_output , activation_function,oy ,learning_rate , inp)    
    # back_prop is a function that takes in the weight and the bias matrices , the error in output , activation_func , layer_index
    # starts from the last layer and recursively calls itself till the input layer (corresponding activation_function to be passed)
    print(weight[-1][0],bias[0])


t=np.ones(9)
train(t,weight,bias)

8.065467116885165 is error
[0.4038289 0.        0.        0.        0.        0.        0.
 0.        0.       ] [1.00000007 1.00000002 1.00000017 1.00000012 1.00000015 1.00000015
 1.00000012 1.00000003 1.00000002]

In [113]:
def forward_prop(inp,activation_function,w,b):
    y=np.zeros(((number_of_hidden_layers+1),number_of_input_features))
    oy=np.zeros(((number_of_hidden_layers+1),number_of_input_features))

    for j in range(number_of_input_features):
        for k in range(number_of_input_features):
            y[0][k]+=inp[j]*w[0][j][k]

    for j in range(number_of_input_features):
        y[0][j]+=b[0][j]
        oy[0][j]=activate(activation_function[0],y[0][j])

    for i in range(1,number_of_hidden_layers):

        for j in range(number_of_input_features):
            for k in range(number_of_input_features):
                y[i][k]+=oy[i-1][j]*w[i][j][k]

        for j in range(number_of_input_features):
            y[i][j]+=b[i][j]
            oy[i][j]=activate(activation_function[i],y[i][j])
    
    for j in range(number_of_input_features):
        y[number_of_hidden_layers][0]+=oy[number_of_hidden_layers - 1][j] * w[number_of_hidden_layers][j][0]

    oy[number_of_hidden_layers][0]=activate(activation_function[number_of_hidden_layers],y[number_of_hidden_layers][0])

    return y,oy

In [111]:

# def derivative_relu(x):
#   return np.maximum(0,x)

def sigmoid(x):
  return 1/(1+np.exp(-x))

def activate(func,number):
    if(func=='sigmoid'):
        f=sigmoid
    return f(number)

def derivative_sigmoid(x):
  return x*(1-x)

def derivative_function(func,out):
    if(func=='sigmoid'):
        f=derivative_sigmoid
    return f(out)

In [131]:

# print(partial_der_intermediate_outputs)

def Partial_der(partial_der_intermediate_outputs , actual_output ,activation_functions , oy ,w):

    partial_der_intermediate_outputs[number_of_hidden_layers][0]=(oy[number_of_hidden_layers][0] - actual_output ) * derivative_function(activation_functions[number_of_hidden_layers],oy[number_of_hidden_layers][0])
    
    for j in range(number_of_input_features):
        partial_der_intermediate_outputs[number_of_hidden_layers - 1][j]=partial_der_intermediate_outputs[number_of_hidden_layers][0] * w[number_of_hidden_layers-1][j][0]* derivative_function(activation_functions[number_of_hidden_layers-1],oy[number_of_hidden_layers - 1][j])    
    
    for i in range(number_of_hidden_layers-2,-1,-1):
        for j in range(number_of_input_features):
            for k in range(number_of_input_features):
                partial_der_intermediate_outputs[i][j]+= partial_der_intermediate_outputs[i+1][k] * w[i][j][k] * derivative_function(activation_function[i],oy[i][j])

    # print(partial_der_intermediate_outputs)



def back_prop(w , b , actual_output , activation_functions ,oy , learning_rate , inp):
    # print("HI")
    nw=np.zeros((number_of_hidden_layers+1,number_of_input_features,number_of_input_features))
    nb=np.zeros((number_of_hidden_layers+1,number_of_input_features))

    partial_der_intermediate_outputs=np.zeros((number_of_hidden_layers + 1, number_of_input_features))
    Partial_der(partial_der_intermediate_outputs , actual_output , activation_functions ,oy ,w)
    
    
    for j in range(number_of_input_features):
        for k in range(number_of_input_features):
            nw[0][j][k]=w[0][j][k]-learning_rate*partial_der_intermediate_outputs[0][k]*inp[j]
                


    for i in range(1,number_of_hidden_layers):
        for j in range(number_of_input_features):
            for k in range(number_of_input_features):
                nw[i][j][k]=w[i][j][k]-learning_rate*partial_der_intermediate_outputs[i][k]*oy[i-1][j]

    for j in range(number_of_input_features):
        nw[number_of_hidden_layers][j][0]=w[number_of_hidden_layers][j][0]-learning_rate*partial_der_intermediate_outputs[number_of_hidden_layers][0]*oy[number_of_hidden_layers-1][j]
    
    for i in range(number_of_hidden_layers):
        for j in range(number_of_input_features):
            nb[i][j]=b[i][j] - learning_rate * partial_der_intermediate_outputs[i][j]
                
    for j in range(number_of_input_features):
        nb[number_of_hidden_layers][j]=b[number_of_hidden_layers][j] - learning_rate * partial_der_intermediate_outputs[number_of_hidden_layers][0]


    # print(b,nb)
    # print("HIHIHIH",nw[-1][0])

    # print(w[-1][1],nw[-1][1] ,sep="\n")
    return nw,nb
    # b=nb.copy()
    # w=nw.copy()